@import url("https://fonts.googleapis.com/css2?family=Architects+Daughter&family=Concert+One&family=Kalam:wght@700&family=Montserrat&family=Neucha&family=Righteous&display=swap");

// font-family: 'Architects Daughter', cursive;
// font-family: 'Concert One', cursive;
// font-family: 'Kalam', cursive;
// font-family: 'Montserrat', sans-serif;
// font-family: 'Neucha', cursive;
// font-family: 'Righteous', cursive;
$maint-font: "Montserrat", sans-serif;
$picwik: "Concert One", cursive;

body {
  font-family: $maint-font;
}
