a {
  text-decoration: none;
}

.index {
  z-index: 1;
}

.d-none-mins {
  @media (min-width: $screen) {
    display: none;
  }
}

.d-none-maxls {
  @media (max-width: $screen) {
    display: none;
  }
}

.ml {
  margin-left: 2%;
}

input,
textarea,
button,
select,
a {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
