a {
  text-decoration: none;
}

.index {
  z-index: 1;
}

.d-none-mins {
  @media (min-width: $screen) {
    display: none;
  }
}

.d-none-maxls {
  @media (max-width: $screen) {
    display: none;
  }
}

.ml {
  margin-left: 2%;
}

input,
textarea,
button,
select,
a {
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
