.modal {
  position: fixed;
  height: 100vh;
  width: 100vw;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 100;

  &__overlay {
    background-color: rgba(50, 180, 234, 0.8);
    height: 100%;

    &--blue {
      z-index: 9998;
      background-color: rgba(50, 180, 234, 0.8);
      height: 100%;
    }
  }

  &__container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    height: auto;
    margin-top: 0;
    width: 95vw;
    overflow-y: scroll;
    z-index: 9999;
    padding: 0.5rem 1rem;
    border-radius: 0.2rem;
    overflow: hidden;

    &__close {
      position: absolute;
      right: 5%;
      color: $primary-color;
      font-weight: bold;
      font-size: 1.5rem;
    }

    &--account {
      height: auto;
      margin-top: 0;
    }

    &__form {
      width: 100%;

      & > div {
        padding: 10px 0;
      }
    }

    &__title {
      font-size: 0.8rem;
      color: $cart-color;
      padding: 20px 0;
    }

    &__formPayment {
      width: 100%;
      height: 50vh;
    }

    &__link {
      color: $primary-color;
      font-weight: bold;
      font-family: $picwik;
    }
  }
}

.StripeElement {
  display: block;
  margin: 10px 0 20px 0;
  max-width: 500px;
  padding: 10px 14px;
  font-size: 1em;
  font-family: "Source Code Pro", monospace;
  box-shadow: rgba(50, 50, 93, 0.14902) 0px 1px 3px,
    rgba(0, 0, 0, 0.0196078) 0px 1px 0px;
  border: 0;
  outline: 0;
  border-radius: 4px;
  background: white;

  &::placeholder {
    color: #aab7c4;
  }
}

.StripeElement--focus {
  box-shadow: rgba(50, 50, 93, 0.109804) 0px 4px 6px,
    rgba(0, 0, 0, 0.0784314) 0px 1px 3px;
  -webkit-transition: all 150ms ease;
  transition: all 150ms ease;
}

.StripeElement.IdealBankElement,
.StripeElement.FpxBankElement,
.StripeElement.PaymentRequestButton {
  padding: 0;
}

.StripeElement.PaymentRequestButton {
  height: 40px;
}

.__PrivateStripeElement > iframe {
  height: 20px !important;
}
