.presentation {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 1.2rem;
  margin: 2rem 0.5rem;

  &__button {
    @media (min-width: $screen) {
      width: 300px !important;
    }
  }

  &--desktop {
    @media (min-width: $screen) {
      display: flex;
      justify-content: center;
      flex-direction: row;
      margin-bottom: 5%;
    }
  }

  &__desktop {
    @media (min-width: $screen) {
      margin-left: 5%;
    }
  }
  &__container {
    @media (min-width: $screen) {
      width: 50%;
    }

    & > p {
      font-size: 1rem;
    }
  }

  &__yellow {
    @media (min-width: $screen) {
      position: absolute;
      background: url(/images/jaune.svg) 50% no-repeat;
      left: -27rem;
      width: 45rem;
      height: 30rem;
      top: 40%;
      z-index: -1;
      background-size: contain;
    }
  }

  &__blue {
    @media (min-width: $screen) {
      position: absolute;
      background: url(/images/blue.svg) 50% no-repeat;

      right: -27rem;
      width: 55.5rem;
      height: 40rem;
      z-index: -1;
      background-size: contain;
      top: 20%;
    }
  }

  &__picture-girl {
    position: relative;
    width: 100px;

    &:before {
      content: "";
      position: absolute;
      top: -1rem;
      left: -5rem;
      z-index: 1;
      width: 8.5rem;
      height: 8.5rem;
      background: url(/images/fille.png) 50% no-repeat;
    }

    & > img {
      width: 100%;
      clip-path: circle(50px);
    }
  }

  &__title {
    font-family: $picwik;
    font-size: 2rem;
    text-transform: uppercase;
    text-align: center;
    & > :nth-child(1) {
      color: $primary-color;
    }

    & > :nth-child(2) {
      color: $secondary-color;
      padding-left: 0.5em;
    }
  }

  &__subtitle {
    text-align: center;
    margin-top: 1rem;
    margin-bottom: 1rem;
    font-size: 0.8rem;
  }

  &__paragraph {
    text-align: center;
    font-size: 0.8rem;
  }

  &__info {
    padding: 20px 0;

    & > * {
      padding: 5px 0;
    }

    & > div {
      display: flex;
      align-items: center;
    }
  }

  &__brand {
    color: $cart-color;
  }
  &__name {
    font-size: 1.5rem;
    margin: 0;
  }
  &__min {
    color: $cart-color;
    font-size: 1rem;
  }

  &__description {
    font-size: 1rem;
  }

  &__highlight {
    font-weight: bold;
    padding: 0 3px;
  }

  &__price-info {
    display: flex;
    padding-bottom: 20px;
  }

  &__quantity {
    width: 40%;

    & > p {
      text-align: center;
      padding-bottom: 5px;
    }
  }

  &__button-quantity {
    display: flex;
    height: 3rem;

    &__minus {
      border-radius: 2.5rem 0 0 2.5rem;
      border: 1px solid $cart-color;
      border-right: none;
      background: white;
      width: 33%;
      outline: none;
      font-size: 1.5rem;
      cursor: pointer;

      &--disabled {
        color: $navigation;
      }
    }

    &__number {
      text-align: center;
      border: 1px solid $cart-color;
      border-right: none;
      border-left: none;
      background: white;
      width: 33%;
      line-height: 3rem;
      font-size: 1rem;
      outline: none;
      cursor: initial;
    }

    &__plus {
      border-radius: 0 2.5rem 2.5rem 0;
      border: 1px solid $cart-color;
      border-left: none;
      background: white;
      width: 33%;
      outline: none;
      font-size: 1.5rem;
      cursor: pointer;
    }
  }

  &__price {
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding-left: 5px;

    &__number {
      color: $primary-color;
      text-align: right;
      font-weight: bold;
      font-size: 1.5rem;
    }
    &__eco {
      font-size: 0.6rem;
      color: $cart-color;
      text-align: right;
    }
  }
}

.slider-product {
  @media (min-width: $screen) {
    display: flex;
    justify-content: center;
  }
  display: flex;
  overflow-x: auto;
  margin: 3rem 0.5rem;

  &::-webkit-scrollbar {
    height: 20px;
    display: none;
  }

  /* Track */
  &::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey;
    border-radius: 10px;
  }

  /* Handle */
  &::-webkit-scrollbar-thumb {
    background: $disabled;
    border-radius: 10px;
  }

  /* Handle on hover */
  &::-webkit-scrollbar-thumb:hover {
    background: $primary-color;
  }
}

.card {
  min-width: 180px;
  margin: 0 1rem;

  &__image {
    @media (min-width: $screen) {
      display: flex;
      height: 20rem;
      background: white;
      align-items: center;
      border: 0.3rem solid #ededed;
      margin: initial;

      max-width: 290px;
    }

    display: flex;
    height: 18rem !important;

    height: auto;

    & > img {
      @media (min-width: $screen) {
        width: 100%;
        height: 80%;
      }
    }
  }

  &__brand {
    @media (min-width: $screen) {
      font-size: 1rem;
    }
    color: $cart-color;
    font-size: 0.6rem;
    padding: 0.5em 0;
  }
  &__name {
    @media (min-width: $screen) {
      font-size: 1.2rem;
    }
    font-size: 0.8rem;
    font-weight: bold;
    color: black;
  }

  &__bottom {
    display: flex;
    justify-content: space-between;
    padding-top: 2rem;
  }
  &__container {
    display: flex;
    flex-direction: column;
  }
  &__age {
    @media (min-width: $screen) {
      font-size: 1rem;
    }
    color: $primary-color;
    font-size: 0.6rem;
  }
  &__price {
    @media (min-width: $screen) {
      font-size: 1rem;
    }
    color: $primary-color;
    font-size: 0.8rem;
    font-weight: bold;
    padding: 0.5em 0;
  }
}
