.PromoCarousel {
  @media (min-width: $largeScreen) {
    justify-content: center;
  }

  display: flex;
  overflow-x: auto;

  &::-webkit-scrollbar {
    height: 20px;
    display: none;
  }

  /* Track */
  &::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey;
    border-radius: 10px;
  }

  /* Handle */
  &::-webkit-scrollbar-thumb {
    background: $disabled;
    border-radius: 10px;
  }

  /* Handle on hover */
  &::-webkit-scrollbar-thumb:hover {
    background: $primary-color;
  }
  &__items {
    margin: 0 0.5rem;
  }
}
